#top-title-div
{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 20px 0px;    
}
main
{
    background-color: rgb(214, 214, 214);
}

#top-title
{
    font-size: 40px;
    margin-bottom: 0%;
}
#img-div
{
    width: 100%; //it is overflowing because main doesnt have width
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#image
{
width:100%; //check if there is a need for this
}
#img-caption
{
    width: 100%;
    text-align: center;
}